<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>JSPE - JavaScript Pokemon Editor</title>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <link rel="stylesheet" href="main.css" />
    </head>
    <body>
        <table id="main">
            <tr>
                <td>Base ROM:</td>
                <td><input type="text" id="baseRom" name="baseRom" /></td>
            </tr>
            <tr>
                <td>Directory:</td>
                <td><input type="text" id="directory" name="directory" /></td>
            </tr>
            <tr>
                <td>Project Name:</td>
                <td><input type="text" id="projName" name="projName" /></td>
            </tr>
            <tr>
                <td>Project Description:</td>
                <td><input type="text" id="projDesc" name="projDesc" /></td>
            </tr>
            <tr>
                <td>Project Version:</td>
                <td><input type="text" id="projVersion" name="projVersion" /></td>
            </tr>
            <tr>
                <td>Project ROM:</td>
                <td><input type="text" id="projRom" name="projRom" /></td>
            </tr>
        </table>
    </body>
    <script type="text/javascript" src="main.js"></script>
</html>